<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Laboratory</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="icon" href="favicon.ico" />
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="col-xs-8 col-xs-offset-2" id="projects">
                <img src="favicon.ico" alt="">
                <h1>To the lab !</h1>
                {% for project in projects %}
                    <div class="col-xs-12 col-sm-6 col-md-3 project">
                        <a href="{{ project['name'] }}/">
                            <img src="{{ project['logo'] }}" alt="Project's logo">
                            {{ project['name'] }}
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Todo</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Organize little projects into reusable modules</li>
                            <li>Change index.html of projects to one simple template (rename all JS files to script.js) and load right script at each call.</li>
                            <li>Ajax call from index to create a new directory (project), and refresh index projects div.</li>
                            <li>Possibility to organize cards order in lists (Trello-like).</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Little projects ideas :</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li class="done">Life bar</li>
                            <li class="done">Grahphical life bar (Zelda like)</li>
                            <li class="done">Parallax background (tileSprite)</li>
                            <li>Parallax background (image destroyed when outOfBound)</li>
                            <li>Tracking (turret, tower defense)</li>
                            <li>Extensive modal (take a text and display it page by page)</li>
                            <li>Missile with trail</li>
                            <li>Not linear missile with trail</li>
                            <li class="done">Basic Socket IO</li>
                            <li class="done">Basic particles</li>
                            <li class="done">Knockback on hit</li>
                            <li>Knockback in good direction on hit</li>
                            <li class="done">Flash effect on hit</li>
                            <li>Particles of Graphic ?</li>
                            <li>Collide on world bounds (already done in hit the dummy)</li>
                            <li>Play a sound on action</li>
                            <li>Attacking character</li>
                            <li>Layered created character (RPG statical character with layered weapons/equipment)</li>
                            <li class="done">Base RTS - circle around selected unit</li>
                            <li class="done">Base RTS - Rectangle select</li>
                            <li class="done">Base RTS - Select units with rectangle selection</li>
                            <li>Charging power bar (Worms-like)</li>
                            <li>Gamepad animation (SMB-like during tutorial)</li>
                            <li>Day-night cycle</li>
                            <li>In game chat (socket IO)</li>
                            <li>Random blood splatter</li>
                            <li class="done">Launch sprite to sprite</li>
                            <li>Simple jump</li>
                            <li>Double jump</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Bigger projects ideas :</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Random goblin generator</li>
                            <li>Tool for adding datas into sprites (anchors, hotpoint, Sub AABB boxes, etc)</li>
                            <li>Git moto trial</li>
                            <li>Trading Card Game base game</li>
                            <li>RPG inventory</li>
                            <li class="done">Catch the eggs !</li>
                            <li class="done">Hit the moles !</li>
                            <li>Dubasque word game</li>
                            <li>Breakout</li>
                            <li>Mario Tennis prototype clone</li>
                            <li>La Brute clone</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>